/*GLOBAL STYLES*/

/*
=============
GLOBAL STYLES
=============
*/

/* * {color:#000000;} BE CAREFUL USING THIS | COULD BE DANGEROUS*/

/* #33CC33=LIGHT GREEN 
   #FFFFFF=WHITE MAIN BODY COLOR
   #33CCFF=BLUE LINK HOVER COLOR/HOME COLOR
   #F1F1F1=GREY HEADER COLOR
   #FFCC00=YELLOW GROUP TABLE COLOR
   #009FD4=DARK BLUE TABLE
   #D2F4FF=BLUE ALTERNATING ROW
   #FFF5CC=YELLOW ALTERNATING ROW
*/   
   
   

/*--------------------------------------------------------------------------------------------------------------------------------------------- GLOBAL STYLES -------------*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700|Open+Sans:400,700);

html, body {
    height:100%;
}

body {
    margin:0px;
    padding:0px;
    background-color:#191919;
    /*font-family:'Lucidia Sans', Verdana, sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:500;
    color:#FFFFFF;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    color:#FF0000 !important;
    margin:0px;
    padding:0px;
}

h1 {
    font-size:2.5em;
}

p {
    margin:15px 0px;
    line-height:20px;
}

b, strong {
    color:#FF0000;
}

a {
    color:#FF0000;
    text-decoration:none;
}

a:hover {
    color:#33CCFF;
    text-decoration:underline;
}

figure {
    margin:0px;
    padding:0px;
}

/*hr {*/
/*    padding:25px 0px;*/ /*-- COMMENTED OUT IN HTML TAMBIEN --*/
/*    clear:both;*/
/*}*/

footer {
    clear:both;
    margin-top:26px;
    
    
}

footer p {
    text-align:center;
    font-size:17px;
    
}

footer p a {
    color:#FF0000;
    text-decoration:none;
}

footer p a:hover {
    color:#33CCFF;
    text-decoration:none;
}

.copyright {
    overflow:hidden;
    padding:30px 0px;
    border-top:3px dotted #FF0000;
    background-color:#191919;
    display:block;
}

.social {
    text-align:center;
}

/*-------------------------------------------------------------------------------------------------------------------------------------- END OF GLOBAL STYLES -------------*/


/* -------------------------------------------------------------------------------------------------------------------------------------------- HEADER STYLES -------------*/ 

header {
    background-color:#F1F1F1;
    /*height:150px;*/
    background:url(../images/header_background.jpg);
}


#header {
    padding:15px 0px /*15 ON TOP/BOTTOM, 0 ON LEFT/RIGHT*/;
    position:relative;
}

#logo {
    padding:15px /*15px ALL AROUND*/;
    color:#FF0000;
}

#logo:hover {
    color:#33CCFF;
    text-decoration:none;
}

/*-------------------------------------------------------------------------------------------------------------------------------------- END OF HEADER STYLES -------------*/


/*----------------------------------------------------------------------------------------------------------------------------------------- NAVIGATION STYLES -------------*/

#menu {
    position:absolute;
    top:30px;
    right:5%;
    text-decoration:none;
}  

/*#menu ul {*/
/*    display:inline;*/
/*}*/

#menu li {
    display:inline;
    margin:0px 9px; /*NAV BLOCK POSITION*/
    font-weight:550; 
    text-transform:uppercase;
    text-align:center;
}

#menu li a:hover {
    text-decoration:none;
}

#menu li:after {
    content:"|";
    padding:16px 20px;
    color:#FF0000;
}

.currentPage a {
    color:#33CC33;
    text-decoration:none;
}

/*---------------------------------------------------------------------------------------------------------------------------------- END OF NAVIGATION STYLES -------------*/


/*--------------------------------------------------------------------------------------------------------------------------------------------- HEADER STYLES -------------*/

#bannerHome {
    border-top:3px solid #FF0000;
    padding:20px 0px;
    background:url(../images/banner-index.jpg) no-repeat center center #191919;
    background-size:cover;
    overflow:hidden;
}

#bannerAbout {
    border-top:3px solid #FF0000;
    padding:20px 0px;
    background:url(../images/banner-about.jpg) no-repeat center center #191919;
    background-size:cover;
    overflow:hidden;
    
}

#bannerContact {
    border-top:3px solid #FF0000;
    padding:20px 0px;
    background:url(../images/banner-contact.jpg) no-repeat center center;
    background-size:cover;
    overflow:hidden;
}

.bannerTitle {
    text-align:center;
    color:#FFFFFF;
    font-size:4em;
}

#banner {
    height:200px; /* IMPORTANT */
}

.backgroundImage {
    background:url(../images/background_image.jpg) no-repeat center center;
}

/*-------------------------------------------------------------------------------------------------------------------------------------- END OF HEADER STYLES -------------*/


/*----------------------------------------------------------------------------------------------------------------------------------------- MAIN BODY SECTION -------------*/

.mainWidth {
    width:1200px;
    margin:0px auto;
    overflow:hidden;
}

#main {
    margin-bottom:25px;
}

/*---------------------------------------------------------------------------------------------------------------------------------- END OF MAIN BODY SECTION -------------*/


/*--------------------------------------------------------------------------------------------------------------------------------------------- COLUMN STYLES -------------*/

.columnA, .columnB, .columnC {
    width:384px;
    float:left;
    text-align:center;
}

.columnA, .columnB {
    float:left;
    margin-right:24px;
}

.columnC {
    float:right;
}

.columnA h2, .columnB h2, .columnC h2 {
    color:#FF0000;
    font-size:2em;
    font-weight:900;
    /*text-transform:uppercase;*/
    text-align:center;
}

.columnA p, .columnB p, .columnC p {
    text-align:justify;
    padding:0px;
}

/*.likeImage {*/
/*    width:384px;*/
/*    height:225px;*/
/*    background-color:#FF0066;*/
/*}*/

.likeImage span {
    color:#FFFFFF;
    background-color:#191919;
    display:block;
    font-size:2em;
    text-decoration:none;
    font-weight:700;
    text-align:center;
    text-transform:uppercase;
    
}


/*-------------------------------------------------------------------------------------------------------------------------------------- END OF COLUMN STYLES -------------*/
.alignLeft {
    float:left;
    width:384px;
    margin-right:24px;
}

.floatLeft {
    float:left;
    width:384px;
    margin-right:20px;
}

.alignRight {
    float:right;
    width:792px;
    text-align:justify;
}

.floatRight {
    float:right;
    margin-left:20px;
}

.clear {
    clear:both;
    padding:20px 0px;
}

audio {
    width:100%;
    height:20px;
    margin-top:20px;
}

.textAudio {
    padding:40px;
    text-align:center;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------- BUTTON STYLES -------------*/

a.button, button {
    color:#FFFFFF;
    border-radius:6px; 
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -o-border-radius:6px;
    padding:15px 20px;
    background-color:#CCCC33;
    border:4px solid #B8B82E;
    float:left;
    text-transform:uppercase;
    font-weight:700;
    /*cursor:not-allowed;*/
}

a.button:hover, button:hover {
    color:#000000;
    text-decoration:none;
    background-color:#FF6600;
    border:4px solid #E65C00;
    /*cursor:url(../images/hkarmycursor.png), auto;*/
}

#bannerButton {
    text-align:center;
    margin:25px 0px;
}

/*-------------------------------------------------------------------------------------------------------------------------------------- END OF BUTTON STYLES -------------*/


/*------------------------------------------------------------------------------------------------------------------------------------------- ABOUT ME STYLES --------------*/

.alignLeft {
    float:left;
    width:384px;
    margin-right:24px;
}

.alignRight {
    float:right;
    width:792px;
    text-align:justify;
}

/*------------------------------------------------------------------------------------------------------------------------------------ END OF ABOUT ME STYLES --------------*/

/*-----------------------------------------------------------------------------------------------------------------------------------------------EXTRA STYLES--------------*/

.fa {
    background-color:#33CCFF;
    border:3px solid #FFF;
    font-size:2em !important;
    margin:15px;
    color:#FFF;
    height:58px;
    width:58px;
    padding:10px;
    border-radius:100%;
    text-align:center;
}

.fa:hover {
    /*background-color:#33CCFF;*/
    border:3px solid #FFF;
}

.fa-linkedin {background-color:#0077B5;}


/*----------------------------------------------------------------------------------------------------------------------------------------END OF EXTRA STYLES-------------*/


/*---------------------------------------------------------------------------------------------------------------------------------------------TABLE STYLES*/

#personalTable {
    width:900px;
    margin:0px auto;
    text-align:justify;
    text-align:center;
}

#personalHeader th {
    color:#FFF;
    background-color:#191919;
    /*text-shadow:2px 2px #000;*/
    padding:10px 20px;
    font-size:1.3em;
}

.personalTr th {
    background-color:#191919;
    color:#FFF;
    font-weight:bold;
}

.personalAlternating {
    background-color:#D2F4FF;
}

tfoot tr {
    background-color:#FF9977;
    text-align:center;
    font-size:1.1em;
}

tr:hover {
    background-color:#FF7041;
    color:#FFF;
    cursor:hover;
    
}

.totalBold {
    font-weight:bold;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
#groupTable {
    width:900px;
    margin:0px auto;
    text-align:center;
}

#groupHeader th {
    color:#FFF;
    background-color:#FFCC00;
    /*text-shadow:2px 2px #000;*/
    padding:10px 20px;
    font-size:1.3em;
}


.groupTr th {
    background-color:#FFCC00;
    color:#FFF;
    font-weight:bold;
}

.groupAlternating {
    background-color:#FF0000;
}

/*--------------------------------------------------------------------------------------------------------------------------------------END OF TABLE STYLES*/

/*----------------------------------------------------------------------------------------------------------------------------------FORMS STYLES*/

.asterisk {
    color:#FF0000;
    font-weight:700;
}

#secondForm {
    margin-top:45px;
}

input, textarea {
    border-radius:50px;
    box-shadow:1px 1px 1px #DDD inset;
    border:2px solid #C3C3A2;
    color:#C3C3A2;
    /*height:25px;*/ /*HEIGHT OF COMMENT BOX*/
    display:block;
    margin:15px;
}

textarea {
    height:200px;
}

.form {
    margin:50px 50px;
    background-color:#F1F1F1;
    border-radius:15px;
    padding:25px;
    width:25%;
    
}

#wufoo-z1oxgmwf14sdt58 {
    width:90%;
    border-radius:6px;
    background-color:#F1F1F1;
    margin:20px 0px auto;
    border:4px solid #85E085;
}

.mobileContact h2 {
    margin-top:20px;
}

.mobileContact p {
    margin-left:50px;
}

/*===================== QUERY - 1024px =======================================*/

@media screen and (max-width: 1024px) {
    .button {
        width:90px;
        margin-left:44%;
    }
    
    .columnA, .columnB, .columnC {
        width:auto;
        margin:1% auto;
    }
    
    
    .alignRight p {
        width:90%;
        margin-right:150px;
    }
    
    .alignRight h2 {
        width:90%;
        margin-left:36%;
    }
    
    section aside figure img {
        width:50%;
        margin-left:65% auto;
        height:50%;
        
    }
    
    #bannerHome {
        width:100%;
    }
    
    .columnA p, .columnB p, .columnC p {
        width:90%;
        margin:1% auto;
    }
    
}

#myVideos {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0px;
    overflow:hidden;
}

#myVideos iframe, #myVideos embed {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}
/*---------------------------------------------------------------------------------------------------------------------------END OF FORMS STYLES*/

.galleryImages {
    background-color:#191919;
    padding:5px;
    border:2px solid #FF0000;
    width:290px;
    float:left;
    margin:4px;
    text-align:center;
}

.figNewton {
    
}

